.navbar{
    position: fixed;
    width: 100%;
    background-color: var(--color-yellow);
    padding: 10px 25px;
}

.navbar-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.navimg-logo{
    width: 100px;
}

.navbar-logo h1{
    color: var(--color-navy);
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-link a{
    color: var(--color-navy);
    font-size: 16px;
    font-weight: 500;
    transition: all ease .3s;
    position: relative;
}

.nav-link a::before{
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: var(--color-white);
    bottom: -1px;
    transition: all ease .3s;

}

.nav-link a:hover::before{
    width: 100%;
}

.nav-link a:hover{
    color: var(--color-white);
}

